html {
    font-size: 16px;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1,
h2,
h3 {
    font-weight: bold;
}
a {
    color: #8DC63F;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.tag-g {
    border-top: solid 4px #8DC63F;
}

.tag-g span {
    background-color: #8DC63F;
}

.tag-o {
    border-top: solid 4px #F7941E;
}

.tag-o span {
    background-color: #F7941E;
}

.tag-c {
    border-top: solid 4px #C49A6C;
}

.tag-c span {
    background-color: #C49A6C;
}

.frame {
    overflow: hidden;
}

.frame-primary {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 25px auto 40px;
}

.frame-primary img {
    width: 100%;
}

@media only screen and (min-width: 48em) {
    .frame-primary {
        width: 355px;
        height: 355px;
        border-radius: 177.5px;
        position: relative;
        top: -30px;
        margin: 0 auto 63px auto;
    }
}

.mask {
    position: relative;
}

.mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mask-primary::before {
    background: #F7941E;
    opacity: 0.6;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }

    .col-1-12 {
        width: 8.3333333333%;
    }

    .col-1-6 {
        width: 16.6666666667%;
    }

    .col-1-4 {
        width: 25%;
    }

    .col-2-3 {
        width: 66.6666666667%;
    }

    .col-1-3 {
        width: 33.3333333333%;
    }

    .col-1-2 {
        width: 50%;
    }
}

@media only screen and (min-width: 48em) {
    .pull-right-sm {
        float: right;
    }
}

@media only screen and (max-width: 47.9375em) {
    .remove-gutter-xs {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 48em) {
    .col-empty {
        border-top: solid 1px #fff;
    }
}
.bg-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bg-image>img {
    width: 100%;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    padding: .5714em 1.4286em;
    font-size: 1.3125rem;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn-primary {
    background: #8DC63F;
    color: white;
    border-color: #8DC63F;
}

.btn-primary:hover {
    background: none;
    border-color: white;
    text-decoration: none;
}

.btn-nav {
    color: white;
}

.btn-rollover {
    text-decoration: none;
    border-color: #fff;
    color: #fff;
    font: normal 1.125rem Arial;
    padding: 0.55em 0.833em;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease 0s;
}

.btn-rollover:hover {
    text-decoration: none;
}

.btn-secondary {
    font: normal 1.75rem Arial;
    padding: .5357em 1.0714em;
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    transition: all .5s ease 0s;
}

.btn-secondary:hover {
    background-color: #fff;
    color: #39b54a;
}
.header-primary {
    background: #9B8579;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

@media only screen and (min-width: 48em) {
    .header-primary {
        background: none;
        position: absolute;
        z-index: 99;
        width: 100%;
    }
    .header-primary::after {
        content: "";
        display: table;
        clear: both;
    }
}
.hero {
    text-align: center;
}

.hero-primary {
    background-color: #594a42;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media only screen and (min-width: 48em) {
    .hero-primary {
        padding-top: 150px;
    }
}

.hero-primary.bg-image>img {
    opacity: 0.55;
}

.hero-body {
    position: relative;
}

.hero-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.625em;
}

.hero-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.500em;
    font-weight: normal;
}

.hero-subtitle+button {
    margin-top: 25px;
}
.logo {
    overflow: hidden;
    display: inline-block;
}

.logo-primary {
    width: 64px;
    height: 64px;
}

@media only screen and (min-width: 48em) {
    .logo-primary {
        width: auto;
        height: 50px;
        float: left;
    }
}

.logo-primary img {
    height: 100%;
}
.media,
.media-body {
    overflow: hidden;
}

.media {
    padding-top: 40px;
}

.media-wrapper {
    padding-bottom: 40px;
}

.media-item {
    float: left;
    margin-right: 10px;
}

.media-item i {
    color: #594a42;
    font-size: 5em;
}

@media only screen and (min-width: 48em) {
    .media-item i {
        text-align: center;
    }
}

.media-item img {
    width: 100%;
    min-height: 100%;
    display: block;
}

.media-heading+p {
    padding-bottom: 40px;
}

.media-body .media-heading {
    font: bold 28px/28px Arial;
}

.media-body h4,
.media-body p {
    margin: 0;
    color: #414042;
}

.media-body p {
    font: normal 18px/28px Arial;
}

.media-featured {
    padding-top: 0;
    padding-bottom: 40px;
}

@media only screen and (min-width: 48em) {
    .media-featured {
        padding-bottom: 50px;
    }
}

.media-featured .media-item {
    transition: all .5s ease 0s;
    float: none;
    height: 204px;
}

.media-featured .media-item span {
    position: relative;
    color: #fff;
    padding: 10px 35px 10px 20px;
    display: inline-block;
    text-align: right;
    font: normal 28px/28px Arial;
}

@media only screen and (min-width: 48em) {
    .media-featured .media-item span {
        padding: 10px 25px 10px 10px;
    }
}

@media only screen and (min-width: 48em) {
    .media-featured .media-item {
        cursor: pointer;
    }
    .media-featured .media-item:hover {
        background-color: #594a42;
    }
    .media-featured .media-item:hover img {
        opacity: 0.75;
    }
    .media-featured .media-item:hover a.btn-rollover {
        opacity: 1;
    }
}

.media-featured .media-heading+p {
    padding-bottom: 0;
}

.media-featured .media-body {
    padding: 20px 20px 0px;
}

@media only screen and (min-width: 48em) {
    .media-featured .media-body {
        padding: 20px 20px 10px 0;
    }
}
.nav>ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-primary {
    margin-top: 28px;
}

@media only screen and (min-width: 48em) {
    .nav-primary {
        float: right;
        width: 60%;
        text-align: right;
        margin-top: 0px;
    }
    .nav-primary li {
        display: inline-block;
    }
}
.footer-primary {
    color: #9b8579;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer-primary a {
    color: #9b8579;
}

.company-name {
    height: 35px;
    overflow: hidden;
    margin-bottom: 40px;
}

@media only screen and (min-width: 48em) {
    .company-name {
        height: 50px;
        margin-right: 8.3333333333%;
    }
}

.company-name img {
    height: 100%;
}

.address {
    margin-bottom: 35px;
}

.phone-num {
    margin-bottom: 40px;
}

.address,
.phone-num {
    font: normal 1.125rem/1.625rem Arial;
}

.social-media {
    margin-bottom: 20px;
}

.social-media>i {
    font-size: 1.625rem;
    margin-right: 3.6rem;
}

@media only screen and (min-width: 48em) {
    .social-media>i {
        margin-right: 0.3rem;
    }
}

@media only screen and (min-width: 48em) {
    .copyright {
        margin-left: 33.3333333333%;
        font-size: .5rem;
    }
}

.law-related {
    text-transform: uppercase;
    font: normal .75rem/1.375rem Arial;
}

@media only screen and (min-width: 48em) {
    .law-related {
        line-height: .75rem;
        padding-top: 1rem;
        padding-bottom: 0.916em;
    }
}

.law-related>div:not(:first-child) {
    text-decoration: underline;
}

@media only screen and (min-width: 48em) {
    .address,
    .phone-num,
    .social-media {
        padding-top: 15px;
    }
}
.background-primary {
    background: #F7941E;
}

.background-secondary {
    background: #C49A6C;
}

.background-tertiary {
    background: #8DC63F;
}

.background-quaternary {
    background: #594a42;
}

.background-quinary {
    background: #e7e1d7;
}

.intro-heading {
    font: bold 2rem/2.625rem Arial;
    margin: 0;
}

@media only screen and (min-width: 48em) {
    .intro-heading {
        padding-top: 1.5625em;
    }
}

.intro-content {
    margin-top: 0;
    margin-bottom: 40px;
    font: normal 1.5rem/2.625rem Arial;
}

.intro-heading,
.intro-content {
    text-align: center;
}

@media only screen and (min-width: 48em) {
    .intro-heading,
    .intro-content {
        text-align: left;
    }
}

.testimonial {
    padding-top: 40px;
    padding-bottom: 40px;
}

@media only screen and (min-width: 48em) {
    .testimonial {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.testimonial img {
    opacity: 0.75;
    min-width: 100%;
    min-height: 100%;
}

.testimonial .decoration,
.testimonial blockquote {
    position: relative;
    color: #fff;
    text-align: center;
}

.testimonial .decoration i {
    font: normal 3.75rem "FontAwesome";
    text-shadow: -4px -4px 8px rgba(0, 0, 0, 0.75), 4px 4px 8px rgba(0, 0, 0, 0.75);
    margin-right: .4em;
}

.testimonial blockquote {
    font: italic 1.5rem/2.625rem Arial;
    margin: 0;
    padding-top: 50px;
}

@media only screen and (min-width: 48em) {
    .testimonial blockquote {
        padding-top: 60px;
    }
}
